<ul class="fa-ul main-list">
    <li class="main-list-item">
        <span class="far fa-newspaper fa-lg main-list-item-icon"></span>
        <a href="https://blog.ganssle.io">Blog</a>
    </li>
    <li class="main-list-item">
        <span class="far fa-comment-alt fa-lg main-list-item-icon"></span>
        <a href="talks/">Talks</a>
    </li>
    <li class="main-list-item">
        <span class="fas fa-microchip fa-lg main-list-item-icon"></span>
        <a href="projects/">Projects</a>
    </li>
    <li class="main-list-item">
        <span class="fas fa-file-alt fa-lg main-list-item-icon"></span>
        <a href="cv/">Curriculum Vitae</a>
    </li>
    <li class="main-list-item">
        <span class="far fa-user fa-lg main-list-item-icon"></span>
        <a href="about/">About</a>
    </li>
    <li class="main-list-item">
        <span class="far fa-solid fa-envelope fa-lg main-list-item-icon"></span>
        <a href="contact/">Contact</a>
    </li>
</ul>

<!-- <h2>Projects</h2>
<ul>
    <li><a href="https://github.com/dateutil/dateutil">python-dateutil</a></li>
    <li><a href="https://github.com/python-variants/variants">variants</a></li>
    <li><a href=https://pganssle.github.io/HaptiCap">Hapticap</a></li>
</ul>
-->
<hr />
<h2>Profiles</h2>
<ul class="fa-ul main-list">
    <li class="main-list-item">
        <span class="fab fa-github fa-lg main-list-item-icon"></span>
        <a rel="me" href="https://github.com/pganssle">Github</a>
    </li>
    <li class="main-list-item">
        <span class="fab fa-mastodon fa-lg main-list-item-icon"></span>
        <a rel="me" href="https://qoto.org/@pganssle">Mastodon</a>
    </li>
    <li class="main-list-item">
        <span class="fab fa-twitter fa-lg main-list-item-icon"></span>
        <a rel="me" href="https://twitter.com/pganssle">Twitter</a>
    </li>
    <li class="main-list-item">
        <span class="fab fa-keybase fa-lg main-list-item-icon"></span>
        <a href="https://keybase.io/pganssle">Keybase</a>
    </li>
</ul>
