<header class="page">
    <div class="header-left">
    {% if site.compass.logo %}
        <div class="logo-container-page">
          <a class="logo" href="{{ site.url }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
        </div>
    {% endif %}
    </div>
    <div class="header-right">
        <div class="author-container-header">
            <h1>{{ site.compass.author }}</h1>
        </div>
        <div class="header-icons">
            <a href="{{ site.url }}"><i class="fas fa-home fa-lg"></i></a>
            <a href="https://blog.ganssle.io"><i class="far fa-newspaper fa-lg"></i></a>
            <a href="https://github.com/pganssle"><i class="fab fa-github fa-lg"></i></a>
            <a href="https://twitter.com/pganssle"><i class="fab fa-twitter fa-lg"></i></a>
        </div>
    </div>
</header>
