{% assign event = include.event %}
{% if event.conference %}
    {% assign conf_name = event.conference.name %}
    {% if event.conference.year %}
        {% capture conf_name %}
            {{ conf_name }} {{ event.conference.year }}
        {% endcapture %}
    {% endif %}
    {% assign location = event.conference.location %}
    <span class="conference">
        {% if event.conference.link %}
            <a href="{{ event.conference.link }}">{{ conf_name }}</a>
        {% else %}
            {{ conf_name }}
        {% endif %}
    </span>
{% elsif event.meetup %}
    {% assign location = event.meetup.location %}
    <span class="meetup">
    <span class="name">
    {% if event.meetup.link %}
        <a href="{{ event.meetup.link }}">{{ event.meetup.name }}</a>
    {% else %}
        {{ event.meetup.name }}
    {% endif %}
    </span>
    {% if event.meetup.event %} -
        <span class="event">
        {% if event.meetup.event_link %}
            <a href="{{ event.meetup.event_link }}">{{ event.meetup.event }}</a>
        {% else %}
            {{ event.meetup.event }}
        {% endif %}
        </span>
    {% endif %}
    </span>
{% elsif event.event %}
    {% assign location = event.event.location %}
    {% if event.event.link %}
        <a href="{{ event.event.link }}">{{ event.event.name }}</a>
    {% else %}
        {{ event.event.name }}
    {% endif %}
{% endif %}
