---
---

h1 {
    margin-bottom: 5px;
}

h2 {
    margin-bottom: 5px;
}

ul.primary_list {
    padding-left: 15px;
}

img.icon {
    height: 1rem;
}

div.note {
    font-style: italic;
}

.with_note {
    margin-bottom: 2px;
}

span#title {
    font-weight: bold;
}

span#institution {
    font-style: italic;
}

ul.toc {
    a, a:visited, a:hover {
        color: #d00;
    }
}

div.education_entry {
    margin-bottom: 5px;

    span#degree {
        font-weight: bold;
    }

    span#institution {
        font-style: italic;
    }
}

div.work_entry {
    span#title {
        font-weight: bold;
    }

    span#department, span#company {
        font-style: italic;
    }

    span#advisor-key {
        text-decoration: underline;
    }
}

div.open_source > div.oss_entry {
    margin-bottom: 5px;
    margin-top: 2px;
    span#project {
        font-weight: bold;
    }

    span#role {
        font-weight: bold;
    }

    div#description {
        padding-left: 20px;
        padding-right: 20px;
    }

}

div.teaching_entry {
    margin-top: 2px;
    margin-bottom: 2px;

    ul.instances {
        margin: 0px;
        padding: 5px;
    }

    li#instance {
        list-style-type: none;
        margin-top:2px;
        span#course {
            font-style: italic;
        }

        span#instructor>span#label {
            text-decoration: underline;
        }

    }
}

div.publications {
    li#publication {
        span.author#me {
            text-decoration: underline;
        }

        span#title {
            font-weight: normal;
            font-style: normal;
        }

        span#journal {
            font-style: italic;
        }

        span#cover, span#year {
            font-weight: bold;
        }
    }
}

div.advanced_coursework > div.institution {
    h4#university {
        margin-bottom: 2px;
        margin-top: 0px;
    }

    ul.course_entries {
        margin-top: 0px;
        margin-bottom: 15px;
        li.course_entry {
            span#audited { font-style: italic; }
        }
    }
}

