<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="page">
        <div class="pagewrapper">
        {% include page_header.html %}
        <div class="content">
            {{ content }}
        </div>
        </div>
    </body>
</html>
